@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #080803;
    color: white;
    min-height: 100vh;
    font-family: 'Chakra Petch', sans-serif;
}

#data {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cards{
    width: 100px;
    height: 200px;
    background: #622267;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .8s;
}

input{
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid white;
    background: none;
    color: white;
   outline: none;
}

button{
    width: 100px;
    height: 30px;
    background: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}